# =========================
# DATASETS
# =========================
data/
dataset/
*.npz
*.csv
*.pkl
*.h5

# =========================
# MODEL CHECKPOINTS
# =========================
*.pt
*.pth
*.ckpt
checkpoints/
checkpoints_*
checkpoint_02-05-26/
*.pt

# =========================
# LOGS & TRAINING OUTPUT
# =========================
logs/
logs_*/
runs/
events.out.*

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# ENV & SYSTEM
# =========================
.env
.venv/
env/
venv/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db


checkpoint_02-05-26/
*.pt
checkpoint_02-05-26/
*.pt
